.main{
    height:500px;
    width:500px;
    border:3px solid red;  
    padding:10px;
    position:relative;
}

.box{
    height:75px;
    width:75px;
    margin-top:10px;
}
.box1{
    background-color: orange;
    position:static;
}
.box2{
    background-color: tomato;
    position:relative;
    /* left:100px;
    bottom:50px; */
    right:10px;
}
.box3{
    background-color: cyan;
    position:absolute;
    /* left:100px; */
    right:10px;
    top:10px;
}
.box4{
    background-color: pink;
    position:fixed;
    top:100px;
    right:100px;
}
.box5{
    background:linear-gradient(orange,tomato,cyan,pink);
    position: sticky;
    top:100px;
}
